@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    ViewData["Title"] = "Logged Out";
    Layout = "_BlankLayout";
}

<div class="loggedout_wrapper">

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>Logged Out</h2>
            </div>

            <div class="card-body">
                <p>You are now logged out</p>

                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div>
                        Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                        <span>@Model.ClientName</span> application.
                    </div>
                }

                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </div>
        </div>
    </div>


</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
