################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Mits.Auth/bin
/src/Mits.Auth/obj
