
@{
    ViewData["Title"] = "Api Resource";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Api Scopes</li>
    </ol>
</nav>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a asp-action="Add" class="btn btn-outline-primary">Add</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered"
                       id="apiScopeTable"
                       data-toggle="table"
                       data-pagination="true"
                       data-side-pagination="server"
                       data-page-size="5"
                       data-page-list="[5,10,25,50,100,200,All]"
                       data-ajax="ajaxRequest">

                    <thead>
                        <tr>
                            <th data-field="name">Name</th>
                            <th data-field="displayName">Display Name</th>
                            <th data-field="id" data-width="150" data-formatter="rowActionButtons"></th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function ajaxRequest(params) {
            var url = '@Url.Action("GetApiScopesTableData","ApiScopes")'
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function rowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ApiScopes/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ApiScopes/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ApiScopes/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

}