@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Authentication Project</h1>
    <p>An authentication and authorization project based on OpenIdConnect & OAuth2.</p>
</div>
